data/normalized/*.csv filter=lfs diff=lfs merge=lfs -text
data/raw/*.jsonl filter=lfs diff=lfs merge=lfs -text
data/normalized/*.parquet filter=lfs diff=lfs merge=lfs -text
data/embeddings/*.parquet filter=lfs diff=lfs merge=lfs -text
data/normalized/embedding_input.parquet filter=lfs diff=lfs merge=lfs -text
